# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.log

# Environments
.env
.venv
env/
venv/
.dsml/
conda-meta/
.envrc

# Notebooks
.ipynb_checkpoints/

# Data / Models / Experiments
data/
models/
experiments/
logs/
reports/

# IDE / Editors
.vscode/
.idea/
*.swp

# Jupyter
.jupyter/

# CI / Coverage
.pytest_cache/
.coverage
htmlcov/

# Mac / System
.DS_Store
Thumbs.db
